@charset "UTF-8";
p:nth-of-type(1):hover {
  visibility: hidden;
}

p:nth-of-type(1):hover::before {
  content: 'フリーランスのウェブ・ユニティー開発者・日英翻訳家、ヘンドリックス・マルコムと申します。';
  visibility: visible;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

p:nth-of-type(2):hover {
  visibility: hidden;
}

p:nth-of-type(2):hover::before {
  content: '専門はバイリンガルウェブアプリ開発です。';
  visibility: visible;
}

p:nth-of-type(3):hover {
  visibility: hidden;
}

p:nth-of-type(3):hover::before {
  content: '何かのご役に立てるようでしたら、気軽にお問い合わせください！';
  visibility: visible;
}

.stage-cube-content {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
}

.cube-spinner {
  -webkit-animation-name: spincube;
          animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 100px 100px 0;
          transform-origin: 100px 100px 0;
  margin-left: calc(50%-100px);
}

.cube-spinner div {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.4);
  font-size: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 20px 0px lightyellow;
          box-shadow: 0 0 20px 0px lightyellow;
}

.cube-spinner .face1 {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}

.cube-spinner .face2 {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
}

.cube-spinner .face3 {
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
          transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.cube-spinner .face4 {
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
          transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}

.cube-spinner .face5 {
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
          transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.cube-spinner .face6 {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
}

.cube-spinner .face7 {
  -webkit-transform: rotate3d(10deg) translateZ(100px);
          transform: rotate3d(10deg) translateZ(100px);
  border: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-animation-name: spin-center;
          animation-name: spin-center;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 100px 100px 0;
          transform-origin: 100px 100px 0;
  opacity: 0.5;
}

@-webkit-keyframes spin-center {
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  33% {
    -webkit-transform: rotateY(90deg) rotateX(90deg);
            transform: rotateY(90deg) rotateX(90deg);
  }
  50% {
    -webkit-transform: rotateY(180deg) rotateZ(90deg);
            transform: rotateY(180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(270deg) rotateX(-90deg);
            transform: rotateY(270deg) rotateX(-90deg);
  }
  83% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

@keyframes spin-center {
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  33% {
    -webkit-transform: rotateY(90deg) rotateX(90deg);
            transform: rotateY(90deg) rotateX(90deg);
  }
  50% {
    -webkit-transform: rotateY(180deg) rotateZ(90deg);
            transform: rotateY(180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(270deg) rotateX(-90deg);
            transform: rotateY(270deg) rotateX(-90deg);
  }
  83% {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
  }
}

@-webkit-keyframes spincube {
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
            transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
            transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateZ(90deg);
            transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

@keyframes spincube {
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
            transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
            transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateZ(90deg);
            transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}
/*# sourceMappingURL=index.css.map */