$xs: "only screen and (max-width:575px)";
$sm: "only screen and (min-width:576px) and (max-width:767px)";
$md: "only screen and (min-width:768px) and (max-width:991px)";
$lg: "only screen and (min-width:992px) and (max-width:1199px)";
$xl: "only screen and (min-width:1200px)";

.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;

        &::before {
            content: '<h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;

            @media #{$md,$sm} {
                margin-top: -100px;
            }
        }

        &::after {
            content: '</h1>';
            font-family: 'La Belle Aurore';
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 42px;
            margin-left: 20px;
            animation: fadeIn 1s backwards;
            opacity: 0.6;

            @media #{$md} {}
        }

        @media #{$md} {
            font-size: 25px;
        }

        @media #{$sm,$xs} {
            font-size: 25px;
        }
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 2.2s backwards;
    }

    .flat-button {
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 10px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 2.2s backwards;
        white-space: nowrap;
        animation-fill-mode: forwards;

        &:hover {
            background: #ffd700;
            color: #333;
            animation: swing 1s;
        }
    }

    model-viewer {
        position: absolute;
        left: 10%;
        top: -10px;
        height: 700px;
        width: 100vw;
        z-index: -1;

        @media #{$md} {
            left: 10%;
            top: -20px;
            height: 400px;
            width: 90vw;
        }
    }
}